.home-container {
  background: #e5e5e5;
  width: 100vw;
  min-height: 100vh;
  margin: 0px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
}

.common-container {
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
}

.book-description {
  color: #475569;
  margin-bottom: 30px;
}

.top-rated-books-container {
  background-color: #ffffff;
  width: 90vw;
  padding-left: 60px;
  border-radius: 10px;
  padding-right: 60px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 40px;
}

.find-your-books {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
}

.find-books {
  background: #0284c7;
  border-radius: 4px;
  width: 104px;
  height: 36px;
  cursor: pointer;
  border-width: 0px;
  outline: none;
  color: #ffffff;
  margin-right: 20px;
}

.top-rated-heading {
  color: #1e293b;
  font-family: 'Roboto';
  margin-left: 20px;
  font-size: 22px;
}

.slider-container {
  display: flex;
  flex-direction: row;
}

.slick-prev {
  position: absolute;
  display: block;
  cursor: pointer;
  background: #989898;
  color: #ffffff;
  top: 50%;
  margin-top: -50px;
  padding: 0;
  border: none;
  outline: none;
  border-width: 0px;
  border-radius: 130px;
}

.slick-next {
  position: absolute;
  display: block;
  cursor: pointer;
  background: #989898;
  color: #ffffff;
  top: 50%;
  margin-top: -50px;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 150px;
}

.home-failure-view-container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-error-image {
  width: 300px;
  height: 200px;
}

.home-failure-heading {
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-try-again {
  width: 112px;
  height: 48px;
  cursor: pointer;
  border-width: 0px;
  border-radius: 12px;
  outline: none;
  text-align: center;
  background-color: #0284c7;
  color: #ffffff;
}

.home-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
}
